<nav class="navbar">
    <a routerLink="/home" class="item" style="font-family: 'Poppins', sans-serif;">Inicio </a>
    <a routerLink="/quienes-somos" class="item " style="font-family: 'Poppins', sans-serif;">Quienes somos </a>
    <a routerLink="/servicios" class="item " style="font-family: 'Poppins', sans-serif;">Servicios </a>
    <a routerLink="/nuestros-clientes" class="item" style="font-family: 'Poppins', sans-serif;">Nuestros clientes </a>
    <a routerLink="/contacto" class="item" style="font-family: 'Poppins', sans-serif;">Contáctanos</a>
</nav>

<router-outlet></router-outlet>